language: android
jdk: oraclejdk8
sudo: false
before_install:
  - chmod +x gradlew
  - android list target
group: deprecated-2017Q3
android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.1
    - android-24
    - extra-android-support
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-21
  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
env:
  global:
   # install timeout in minutes (2 minutes by default)
    - ADB_INSTALL_TIMEOUT=8
    - GRADLE_OPTS="-Xms128m"
# Emulator Management: Create, Start and Wait
  
script: ./gradlew connectedAndroidTest